.game_container {
  background: tan;
  padding: 12px;
}

.game__header {
  /*text-align: center;*/
  width: 100%;
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;

  .game__bomb_counter {
    width: 100px;
    margin: 8px;
  }

  .game__reset_button {
    width: 100px;
    margin: 8px auto;
  }

  .game__clock {
    width: 100px;
    margin: 8px;
    text-align: right;
  }
}

.game__grid {
  display: grid;
  grid-template-columns: repeat(24, 24px);
}
